<main>
  <div class='create-headline'>

    <h1>Create a new Celebritiy</h1>

    <form method='POST' action='./create'>
      <label for='Celebrity Name'></label>
      <input
        class='create-input'
        type='text'
        name='name'
        id='celebrity-name-input'
        placeholder='Celebrity Name'
      />
      <label for='occupation'></label>
      <input type='text' name='occupation' placeholder='Occupation' />
      <label for='catchphrase'></label>
      <input type='text' name='catchPhrase' placeholder='Catch Phrase' />
      <button class='create-button'>Create Celebrity</button>
    </form>
  </div>
</main>