{{!-- <h1>Lab Mongoose Movies</h1>
<p>Welcome to Lab Mongoose Movies</p>
{{#each celebrities}}
  <h1>
    {{name}}</h1>
{{/each}}

<a href='/celebrities'>Celebrities</a> --}}

<div class='hero-headline'>
  <h1>Lab Mongoose Movies</h1>
  <h2>Welcome to Lab Mongoose Movies</h2>
</div>

<div class='buttons-start'>

  <div class='add'>
    <a href='/celebrities'>Celebrities</a>
  </div>

  <div class='add'>
    <a href='/movies'>Movies</a>
  </div>
</div>